version: '3'
services:
#   db:
#     image: mysql:5.7
#     volumes:
#       - ./mysql:/var/lib/mysql
#     environment:
#       - MYSQL_ROOT_PASSWORD=secret
  php:
    build: ./php
    volumes:
      - ./php:/var/www/html
    ports:
      - 8080:80
    # depends_on:
    #   - db